body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    font-size: 1.3rem;
    font-weight: 400;

}

section h2 {
    margin-bottom: 20px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#contact-form .form-control {
    margin-bottom: 10px;
}

#home img, #research img, #experience img, #projects img, #teaching img, #students img {
    width: 100%;
    height: auto;
    max-width: 200px; /* Optional: Adjust max-width if needed */
    margin-bottom: 20px;
}

.blinking-highlight {
    animation: blinker 0.001s linear infinite;
}

@keyframes blinker {
    50% {
        color: red;
    }
}
