<!DOCTYPE HTML>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Lokesh Chandra Das</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
  <meta property="og:title" content=""/>
  <meta property="og:image" content=""/>
  <meta property="og:url" content=""/>
  <meta property="og:site_name" content=""/>
  <meta property="og:description" content=""/>
  <meta name="twitter:title" content="" />
  <meta name="twitter:image" content="" />
  <meta name="twitter:url" content="" />
  <meta name="twitter:card" content="" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="shortcut icon" href="favicon.ico">

  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
  
  <!-- Animate.css -->
  <link rel="stylesheet" href="{{ "/assets/css/animate.css?v=" | append: site.github.build_revision | relative_url }}"">
  <!-- Icomoon Icon Fonts-->
  <link rel="stylesheet" href="{{ "/assets/css/icomoon.css?v=" | append: site.github.build_revision | relative_url }}"">
  <!-- Bootstrap  -->
  <link rel="stylesheet" href="{{ "/assets/css/bootstrap.css?v=" | append: site.github.build_revision | relative_url }}"">
  <!-- Flexslider  -->
  <link rel="stylesheet" href="{{ "/assets/css/flexslider.css?v=" | append: site.github.build_revision | relative_url }}"">
  <!-- Flaticons  -->
  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  <!-- Owl Carousel -->
  <link rel="stylesheet" href="{{ "/assets/css/owl.carousel.min.css?v=" | append: site.github.build_revision | relative_url }}"">
  <link rel="stylesheet" href="{{ "/assets/css/owl.theme.default.min.css?v=" | append: site.github.build_revision | relative_url }}"">
  <!-- Theme style  -->
  <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}"">

  <!-- Modernizr JS -->
  <script src="js/modernizr-2.6.2.min.js"></script>
  <!-- FOR IE9 below -->
  <!--[if lt IE 9]>
  <script src="js/respond.min.js"></script>
  <![endif]-->

  </head>
  <body>
  <div id="colorlib-page">
    <div class="container-wrap">
    <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
    <aside id="colorlib-aside" role="complementary" class="border js-fullheight">
      <div class="text-center">
        <h1 id="colorlib-logo"><a href="index.html">Lokesh Das</a></h1>
        <span class="position">Ph.D. Candidate <br />
        <p> <a href="#">Department of Computer Science</a> <br />
        <a href="#">University of Memphis </a><br />
          <img src="{{"/assets/img/email.png "| relative_url}}" alt="email" width="25" height="25" /> <a href="mailto:ldas@memphis.edu">ldas@memphis.edu</a><br />
          </span>
          <span class="icon"><a href="#"><i class="fa fa-linkedin-square" style="font-size:20px"></i> </a> <a href="#"><i class="fa fa-google-plus" style="font-size:20px"></i> </a> <a href="#"><i class="fa fa-github" style="font-size:20px"></i> </a> <a href="#"><i class="fa fa-researchgate" style="font-size:20px"></i> </a></span>
      </div>
      <nav id="colorlib-main-menu" role="navigation" class="navbar">
        <div id="navbar" class="collapse">
          <ul>
            <li class="active"><a href="#" data-nav-section="home">Home</a></li>
            <li><a href="#" data-nav-section="about">About</a></li>
            <li><a href="#" data-nav-section="services">Services</a></li>
            <li><a href="#" data-nav-section="skills">Skills</a></li>
            <li><a href="#" data-nav-section="education">Education</a></li>
            <li><a href="#" data-nav-section="experience">Experience</a></li>
            <li><a href="#" data-nav-section="work">Work</a></li>
            <li><a href="#" data-nav-section="blog">Blog</a></li>
            <li><a href="#" data-nav-section="contact">Contact</a></li>
          </ul>
        </div>
      </nav>

      <div class="colorlib-footer">
        <p><small>&copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright <script>document.write(new Date().getFullYear());</script> All rights reserved.</small></p>
      </div>

    </aside>

    <div id="colorlib-main">
      <section id="colorlib-hero" data-section="home">
        <div class="colorlib-narrow-content">
          <div class="row">
            <div class="col-md-4"> </div> <div class="col-md-4"><span class="text-denger font-weight-bold ">**I am actively looking for full-time opportunities**</span> </div> <div class="col-md-4"></div>
          </div>
          <div class="row">
            <div class="col-md-3"><img src="{{"/assets/img/logo.jpg " | relative_url}}" width="100%" height="100%" object-fit="contain" padding="10px"></div>
            <div class="col-md-9">
              <h3>Welcome!</h3> 

                <p class="text-justify"> I am a Ph.D. Candidate in Computer Science at the University of Memphis. My research focuses on developing novel algorithms for the next-generation traffic control system for autonomous vehicles (AVs) based on reinforcement learning. The primary objective of my research is to alleviate traffic congestion in critical congested areas, with the aim of optimizing traffic flow, road safety, and driving comfort simultaneously. I develop algorithms for self-driving cars to operate safely in various safety-critical highway scenarios, including highways with ramps and roundabouts.</p>

                <span> I am passionate about researching and developing new algorithms based on AI and ML for intelligent autonomous cars (or autonomous robots) that can efficiently interact with the real-world environment without human intervention. I have extensive experience designing and developing ML algorithms, especially reinforcement learning algorithms. In my research, I design and formulate autonomous vehicle decision-making tasks as Markov decision processes (e.g., MDP, POMDP) and solve the problems using deep Q-Network (DQN), deep deterministic policy gradient (DDPG), proximal policy optimization (PPO), and actor/critic methods.</span>

            </div>
          </div>
        </div>
      </section>

      <section class="colorlib-about" data-section="about">
        <div class="colorlib-narrow-content">
          About
        </div>
      </section>


      
      <section class="colorlib-services" data-section="services">
        <div class="colorlib-narrow-content">
          Service
        </div>
      </section>
      

      <section class="colorlib-skills" data-section="skills">
        <div class="colorlib-narrow-content">
          Skills
        </div>
      </section>

      <section class="colorlib-education" data-section="education">
        <div class="colorlib-narrow-content">
          Education
        </div>
      </section>

      <section class="colorlib-experience" data-section="experience">
        <div class="colorlib-narrow-content">
          Experience
        </div>
      </section>

      <section class="colorlib-work" data-section="work">
        <div class="colorlib-narrow-content">
          Works
        </div>
      </section>

      <section class="colorlib-blog" data-section="blog">
        <div class="colorlib-narrow-content">
          Blog
        </div>
      </section>

      <section class="colorlib-contact" data-section="contact">
        <div class="colorlib-narrow-content">
          Contact
        </div>
      </section>

    </div><!-- end:colorlib-main -->
  </div><!-- end:container-wrap -->
  </div><!-- end:colorlib-page -->

  <!-- jQuery -->
  <script src="{{ "/assets/js/jquery.min.js" | relative_url }}"></script>
  <!-- jQuery Easing -->
  <script src="{{ "/assets/js/jquery.easing1.3.js" | relative_url }}"></script>
  <!-- Bootstrap -->
  <script src="{{ "/assets/js/bootstrap.min.js" | relative_url }}"></script>
  <!-- Waypoints -->
  <script src="{{ "/assets/js/jquery.waypoints.min.js" | relative_url }}"></script>
  <!-- Flexslider -->
  <script src="{{ "/assets/js/jquery.flexslider-min.js" | relative_url }}"></script>
  <!-- Owl carousel -->
  <script src="{{ "/assets/js/owl.carousel.min.js" | relative_url }}"></script>
  <!-- Counters -->
  <script src="{{ "/assets/js/jquery.countTo.js" | relative_url }}"></script>
  
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <!-- MAIN JS -->
  <script src="{{ "/assets/js/main.js" | relative_url }}"></script>

  </body>
</html>

